/* 
    Document   : dividerstylesheet
    Created on : May 30, 2014, 3:28:13 PM
    Author     : Michael Lange
    Description:
        Entfernt den divider vom mainsplitpane. 
*/
/* root { 
    display: block;
} */


.mainsplitpane *.horizontal-grabber {
   -fx-padding: 0;  
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    
    
}
 .mainsplitpane:horizontal > * > .split-pane-divider {
   -fx-border-color:  silver;
   -fx-background-color: silver;
   -fx-background-insets: 0;
   -fx-padding: 0;  
   -fx-scale-x: 0;
   -fx-scale-y: 0;
   -fx-scale-z: 0;
   visibility: hidden;
} 
.mainsplitpane {
   /* -fx-background-color: #a6a6a6; */
}



